USE [master]
GO
/****** Object:  Database [Practico_1]    Script Date: 01/07/2026 8:11:00 ******/
CREATE DATABASE [Practico_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practico_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Practico_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practico_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Practico_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practico_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practico_1]
GO
/****** Object:  User [admin_1]    Script Date: 01/07/2026 8:11:01 ******/
CREATE USER [admin_1] FOR LOGIN [admin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin_1]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 01/07/2026 8:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[CategoriaID] [int] NULL,
	[UsuarioCreacion] [varchar](50) NULL,
	[UsuarioModificacion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 01/07/2026 8:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductosConCategoria]    Script Date: 01/07/2026 8:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductosConCategoria] AS
SELECT 

p.Id,
p.Nombre,
p.Precio,
p.stock,
p.fecha_creacion,
p.CategoriaID,
ISNULL(C.Nombre,'sin categoria')AS NombreCategoria
From productos p
left join categoria c on p.CategoriaID = c.CategoriaID;
GO
/****** Object:  Table [dbo].[AuditoriaProductos]    Script Date: 01/07/2026 8:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaProductos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductoID] [int] NOT NULL,
	[NombreProducto] [varchar](100) NOT NULL,
	[Operacion] [varchar](10) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[FechaHora] [datetime] NULL,
	[Detalles] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/07/2026 8:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditoriaProductos] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_categoria] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categoria] ([CategoriaID])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_categoria]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProductos]    Script Date: 01/07/2026 8:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BuscarProductos]
    @nombre VARCHAR(100) = '%',
    @precioMin DECIMAL(10,2) = 0,
    @precioMax DECIMAL(10,2) = 999999,
    @categoriaID INT = NULL
AS
    SELECT * FROM vw_ProductosConCategoria
    WHERE Nombre LIKE '%' + @nombre + '%'
    AND Precio >= @precioMin
    AND Precio <= @precioMax
    AND (@categoriaID IS NULL OR CategoriaID = @categoriaID);
GO
USE [master]
GO
